{% extends "en/_base.html" %}
{% block contentnav %}
<div class="peek">
  <div class="ui vertical pointing secondary menu">
    <a class="item" href="http://gameking.io/en/home">Home</a>
    <a class="item" href="http://gameking.io/en/web">Web Games</a>
    <a class="item" href="http://gameking.io/en/android">Android Games</a>
    <a class="item" href="http://gameking.io/en/ios">iOS Games</a>
  </div>
</div>{% endblock %}
{% block body %}
<div class="segment">
  <h2 class="ui dividing header">404</h2>
  <div>
    <p>
      Page does not exist..
    </p>
  </div>
</div>{% endblock %}
