<div class="ui large vertical inverted labeled icon sidebar menu purple" id="menu">
  <a class="hide item">
    <i class="fa fa-close"></i> Hide Menu
  </a>
  <a class="item" href="http://gameking.io/en/home">
    <strong><h2>Game King</h2></strong>
  </a>
  <a class="item" href="http://gameking.io/en/web">
    <strong>Web Games</strong>
  </a>
  <a class="item" href="http://gameking.io/en/android">
    <strong>Android Games</strong>
  </a>
  <a class="item" href="http://gameking.io/en/ios">
    <strong>iOS Games</strong>
  </a>
  <div class="item">
    <b>Recommended</b>
    <div class="menu">
      <a class="item" href="http://imgasm.com">imgasm</a>
      <a class="item" href="http://quotestic.com">Majestic Quotes</a>
    </div>
  </div>
  <div class="item">
    <b>About</b>
    <div class="menu">
      <a class="item" href="http://gameking.io/en/about">About</a>
      <a class="item" href="http://gameking.io/en/privacy">Privacy</a>
    </div>
  </div>
</div>
