{% block scripts %}
<script src="/js/foto.min.js"></script>{% endblock %}
{% extends "en/_base.html" %}
{% block contentnav %}
<div class="peek">
  <div class="ui vertical pointing secondary menu">
    <a class="item" href="http://gameking.io/en/home">Home</a>
    <a class="active item red" href="http://gameking.io/en/web">Web Games</a>
    <a class="item" href="http://gameking.io/en/android">Android Games</a>
    <a class="item" href="http://gameking.io/en/ios">iOS Games</a>
  </div>
</div>{% endblock %}
{% block body %}
<div class="segment">
  <h2 class="ui dividing header">Web Games</h2>
  <div class="ui four items">
    <div class="item">
      <div class="image">
        <img src="../images/H-9kYaleRl1y.jpg">
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="../images/QqypiSgTCPHC.jpg">
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="../images/35uGg3SoOhni.jpg">
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="http://placehold.it/350x350">
      </div>
    </div>
  </div>
  <div class="ui four items">
    <div class="item">
      <div class="image">
        <img src="../images/image.jpg">
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="../images/image2.jpg">
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img
        ft-320-src="../images/image-320.jpg"
        ft-480-src="../images/image-480.jpg"
        ft-640-src="../images/image-640.jpg"
        ft-768-src="../images/image-768.jpg"
        ft-1024-src="../images/image-1024.jpg"
        >
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="../images/image.jpg">
      </div>
    </div>
  </div>
  <div class="ui four items">
    <div class="item">
      <div class="image">
        <img src="../images/image2.jpg">
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="../images/image.jpg">
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="http://placehold.it/350x350">
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="http://placehold.it/350x350">
      </div>
    </div>
  </div>
  <div class="ui one items">
    <div class="item">
      <div class="image">
        <img
        ft-320-src="../images/image-320.jpg"
        ft-480-src="../images/image-480.jpg"
        ft-640-src="../images/image-640.jpg"
        ft-768-src="../images/image-768.jpg"
        ft-1024-src="../images/image-1024.jpg"
        >
      </div>
    </div>
  </div>
  <div class="ui two items">
    <div class="item">
      <div class="image">
        <img
        ft-320-src="../images/image-320.jpg"
        ft-480-src="../images/image-320.jpg"
        ft-640-src="../images/image-320.jpg"
        ft-768-src="../images/image-480.jpg"
        ft-1024-src="../images/image-640.jpg"
        >
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img
        ft-320-src="../images/image-320.jpg"
        ft-480-src="../images/image-480.jpg"
        ft-640-src="../images/image-640.jpg"
        ft-768-src="../images/image-768.jpg"
        ft-1024-src="../images/image-1024.jpg"
        >
      </div>
    </div>
  </div>
  <div class="ui three items">
    <div class="item">
      <div class="image">
        <img
        ft-320-src="../images/image-320.jpg"
        ft-480-src="../images/image-480.jpg"
        ft-640-src="../images/image-640.jpg"
        ft-768-src="../images/image-768.jpg"
        ft-1024-src="../images/image-1024.jpg"
        >
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img
        ft-320-src="../images/image-320.jpg"
        ft-480-src="../images/image-480.jpg"
        ft-640-src="../images/image-640.jpg"
        ft-768-src="../images/image-768.jpg"
        ft-1024-src="../images/image-1024.jpg"
        >
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img
        ft-320-src="../images/image-320.jpg"
        ft-480-src="../images/image-480.jpg"
        ft-640-src="../images/image-640.jpg"
        ft-768-src="../images/image-768.jpg"
        ft-1024-src="../images/image-1024.jpg"
        >
      </div>
    </div>
  </div>
</div>{% endblock %}
