{% extends "en/_base.html" %}
{% block languageredirect %}
<a class="active item">English</a>
<a class="item" href="http://gameking.io/cn/404">汉语</a>{% endblock %}
{% block contentnav %}
<div class="peek">
  <div class="ui vertical pointing secondary menu">
    <a class="item" href="http://gameking.io/en/home">Home</a>
    <a class="item" href="http://gameking.io/en/web">Web Games</a>
    <a class="item" href="http://gameking.io/en/android">Android Games</a>
    <a class="item" href="http://gameking.io/en/ios">iOS Games</a>
  </div>
</div>{% endblock %}
{% block body %}
<div class="segment">
  <h2 class="ui dividing header">404</h2>
  <div>
    <div class="ui connected items">
  <div class="row">
    <div class="item">
      <div class="image">
        <img src="http://maike.me/img/imgasm.jpg">
      </div>
      <div class="content">
        <p class="description">advertisement</p>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="http://maike.me/img/imgasm.jpg">
      </div>
      <div class="content">
        <p class="description">download</p>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <img src="http://maike.me/img/quotestic.jpg">
      </div>
      <div class="content">
        <p class="description">download</p>
      </div>
    </div>
  </div>
</div>
  </div>
</div>{% endblock %}
