{% extends "en/_base.html" %}
{% block contentnav %}
<div class="peek">
  <div class="ui vertical pointing secondary menu">
    <a class="item" href="http://gameking.io/games/goodvsevil">Home</a>
    <a class="item" href="http://gameking.io/games/goodvsevil">Web Games</a>
    <a class="item" href="http://gameking.io/android">Android Games</a>
    <a class="item" href="http://gameking.io/ios">iOS Games</a>
  </div>
</div>{% endblock %}
{% block body %}
<div class="segment">
  <h2 class="ui dividing header">Good vs Evil</h2>
  <div>
    <p>

    </p>
  </div>
</div>{% endblock %}
