<div class="ui fixed inverted main menu">
  <div class="container">
    <a class="launch popup item" data-content="Show/Hide Menu"><i class="fa fa-th-list"></i> Game King</a>
    <a class="popup item" data-content="Web Games" href="http://gameking.io/web">
      <i class="fa fa-html5"></i>
    </a>
    <a class="popup item" data-content="Android Games" href="http://gameking.io/android">
      <i class="fa fa-android"></i>
    </a>
    <a class="popup item" data-content="iOS Games" href="http://gameking.io/ios">
      <i class="fa fa-apple"></i>
    </a>
    <div class="right menu">
      <div class="ui simple dropdown item">
        <i class="fa fa-globe"></i>
        <div class="menu">
          <div class="active item">English</div>
          <div class="item">Chinese</div>
        </div>
      </div>
    </div>
  </div>
</div>
