{% extends "_base.html" %}
{% block contentnav %}
<div class="peek">
  <div class="ui vertical pointing secondary menu">
    <a class="item" href="http://gameking.io">Home</a>
    <a class="item" href="http://gameking.io/web">Web Games</a>
    <a class="item" href="http://gameking.io/android">Android Games</a>
    <a class="item" href="http://gameking.io/ios">iOS Games</a>
  </div>
</div>{% endblock %}
{% block body %}
<div class="segment">
  <h2 class="ui dividing header">About</h2>
  <div>
    <p>I have big plans for <strong>Game King</strong>; to be more specific, I intend to turn it into the number one website for everything related to gaming - browser games, app recommendations, news, streaming, etc.
      <br>However, right now I'm working alone, and my focus is currently on <a href="http://imgasm.com">imgasm</a>, a web application for sharing images. But I'm making good progress, and I'm confident that I'll soon be able to hire talented programmers to work together with me, which will make it possible to put more attention on <strong>Game King</strong>.
      <br>I hope that you'll have patience, and if you'd like to support me then please visit my other websites, such as <a href="http://imgasm.com">imgasm</a> and <a href="http://quotestic.com">quotestic</a>, and please download my Android/iOS games (I'm currently working on improving them, which includes adding browser support, and once I feel satisfied, then I will add them to this website, but if you want to have a sneak-peak then you can <a href="http://maike.me">visit my personal website</a>.
    </p>
  </div>
</div>{% endblock %}
