{% extends "_base.html" %}
{% block contentnav %}
<div class="peek">
  <div class="ui vertical pointing secondary menu">
    <a class="item" href="http://gameking.io">Home</a>
    <a class="item" href="http://gameking.io/web">Web Games</a>
    <a class="active item green" href="http://gameking.io/android">Android Games</a>
    <a class="item" href="http://gameking.io/ios">iOS Games</a>
  </div>
</div>{% endblock %}
{% block body %}
<div class="segment">
  <h2 class="ui dividing header">Android Games</h2>
  <div class="two column stackable ui grid">
    <div class="column">
      <div class="ui divided list">
        <div class="item">
          <div class="content">
            <div class="ui red header">Hottest</div>
          </div>
        </div>
        <a class="item" style="text-decoration:none; color:#555;" href="https://play.google.com/store/apps/details?id=maike.me.goodvsevil">
          <img class="ui avatar image" src="http://a1.mzstatic.com/us/r30/Purple5/v4/32/e5/8d/32e58d06-f371-656b-7566-1ef92f8c7fba/mzl.ekuvtkce.175x175-75.jpg">
          <div class="content">
            <div class="header">Good vs. Evil</div>
            by maike entertainment
          </div>
        </a>
        <a class="item" style="text-decoration:none; color:#555;" href="https://play.google.com/store/apps/details?id=maike.me.taptaincolors">
          <img class="ui avatar image" src="http://a2.mzstatic.com/us/r30/Purple4/v4/80/e4/9d/80e49d9f-feaa-436d-3aa3-062f6277d836/mzl.ppcqcuwe.175x175-75.jpg">
          <div class="content">
            <div class="header">Taptain Colors</div>
            by maike entertainment
          </div>
        </a>
        <a class="item" style="text-decoration:none; color:#555;" href="https://play.google.com/store/apps/details?id=maike.me.tappycolour">
          <img class="ui avatar image" src="http://a5.mzstatic.com/us/r30/Purple/v4/c5/73/71/c57371df-add6-27a7-8350-5b3735fd983e/mzl.gpnwkemw.175x175-75.jpg">
          <div class="content">
            <div class="header">Tappy Colour</div>
            by maike entertainment
          </div>
        </a>
        <a class="item" style="text-decoration:none; color:#555;" href="https://play.google.com/store/apps/details?id=maike.me.colourrunner">
          <img class="ui avatar image" src="http://a4.mzstatic.com/us/r30/Purple4/v4/a6/d8/69/a6d8695d-529c-2415-60df-54bd9f947553/mzl.mgojvjzo.175x175-75.jpg">
          <div class="content">
            <div class="header">Colour Runner</div>
            by maike entertainment
          </div>
        </a>
        <a class="item" style="text-decoration:none; color:#555;" href="https://play.google.com/store/apps/details?id=maike.me.tapdatcolour">
          <img class="ui avatar image" src="http://a5.mzstatic.com/us/r30/Purple4/v4/53/3a/5b/533a5b00-e264-9726-9605-870aed2a40d2/mzl.sdzzhggj.175x175-75.jpg">
          <div class="content">
            <div class="header">tap dat colour</div>
            by maike entertainment
          </div>
        </a>
      </div>
    </div>
    <div class="column">
      <div class="ui divided list">
        <div class="item">
          <div class="content">
            <div class="ui green header">Latest</div>
          </div>
        </div>
        <a class="item" style="text-decoration:none; color:#555;" href="https://play.google.com/store/apps/details?id=maike.me.goodvsevil">
          <img class="ui avatar image" src="http://a1.mzstatic.com/us/r30/Purple5/v4/32/e5/8d/32e58d06-f371-656b-7566-1ef92f8c7fba/mzl.ekuvtkce.175x175-75.jpg">
          <div class="content">
            <div class="header">Good vs. Evil</div>
            by maike entertainment
          </div>
        </a>
        <a class="item" style="text-decoration:none; color:#555;" href="https://play.google.com/store/apps/details?id=maike.me.taptaincolors">
          <img class="ui avatar image" src="http://a2.mzstatic.com/us/r30/Purple4/v4/80/e4/9d/80e49d9f-feaa-436d-3aa3-062f6277d836/mzl.ppcqcuwe.175x175-75.jpg">
          <div class="content">
            <div class="header">Taptain Colors</div>
            by maike entertainment
          </div>
        </a>
        <a class="item" style="text-decoration:none; color:#555;" href="https://play.google.com/store/apps/details?id=maike.me.tappycolour">
          <img class="ui avatar image" src="http://a5.mzstatic.com/us/r30/Purple/v4/c5/73/71/c57371df-add6-27a7-8350-5b3735fd983e/mzl.gpnwkemw.175x175-75.jpg">
          <div class="content">
            <div class="header">Tappy Colour</div>
            by maike entertainment
          </div>
        </a>
        <a class="item" style="text-decoration:none; color:#555;" href="https://play.google.com/store/apps/details?id=maike.me.colourrunner">
          <img class="ui avatar image" src="http://a4.mzstatic.com/us/r30/Purple4/v4/a6/d8/69/a6d8695d-529c-2415-60df-54bd9f947553/mzl.mgojvjzo.175x175-75.jpg">
          <div class="content">
            <div class="header">Colour Runner</div>
            by maike entertainment
          </div>
        </a>
        <a class="item" style="text-decoration:none; color:#555;" href="https://play.google.com/store/apps/details?id=maike.me.tapdatcolour">
          <img class="ui avatar image" src="http://a5.mzstatic.com/us/r30/Purple4/v4/53/3a/5b/533a5b00-e264-9726-9605-870aed2a40d2/mzl.sdzzhggj.175x175-75.jpg">
          <div class="content">
            <div class="header">tap dat colour</div>
            by maike entertainment
          </div>
        </a>
      </div>
    </div>
  </div>
</div>{% endblock %}
